<!-- Toolbar -->
<div class="toolbar">
  <div class="left-side" [routerLink]="me ? ['/board'] : ['/login']">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>Task Manager</span>
  </div>
  <div class="right-side">
    <div class="sections">
      <div class="projects" *ngIf="me && !loading">
        <div class="menu-section">
          <action-icon
            icon="expand_more"
            text="Projects"
            [matMenuTriggerFor]="projectMenu"
            mat-icon-button
          ></action-icon>

          <mat-menu
            class="project-popup"
            #projectMenu="matMenu"
            yPosition="below"
          >
            <div class="recent">Recent</div>
            <button
              class="project-item"
              *ngFor="let project of projects"
              mat-menu-item
              [routerLink]="['/board', project.uid]"
            >
              <mat-icon>work</mat-icon>
              <span>{{ project.name }}</span>
            </button>
            <div class="additional"></div>
            <button
              class="additional-item"
              mat-menu-item
              (click)="createProject()"
            >
              <mat-icon>add</mat-icon>
              <span>Create Project</span>
            </button>
            <button
              class="additional-item"
              mat-menu-item
              [routerLink]="['/projects']"
            >
              <mat-icon>north_east</mat-icon>
              <span>View All Projects</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="profile">
        <mat-spinner diameter="30" *ngIf="loading"></mat-spinner>
        <div class="menu-section" *ngIf="me && !loading">
          <div class="profile-image">
            <button mat-button [matMenuTriggerFor]="profileMenu">Profile</button>
            <img [src]="getAvatar()" alt="" />
          </div>
          <mat-menu #profileMenu="matMenu" xPosition="before">
            <div mat-menu-item>
              <mat-icon>perm_identity</mat-icon>
              <span>{{ me.email }}</span>
            </div>
            <button mat-menu-item (click)="logOut()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </div>
        <action-icon
          *ngIf="!me && !loading"
          text="Login"
          icon="person"
          (clickAction)="login()"
        ></action-icon>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
